{
  "singleQuote": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 80,
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "options": {
        "singleQuote": false,
        "trailingComma": "all",
        "tabWidth": 2,
        "semi": true,
        "printWidth": 80
      }
    }
  ]
}
