<style>
.margin-top{
  margin-top:10px
}
.Spritesgithub, .Spriteslinkedin, .Spritestwitter
{ display: inline-block; background: url('img/sprites.png')
no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.Spritesgithub { background-position: -2px -0px; width: 50px; height: 50px; }
.Spriteslinkedin { background-position: -2px -52px; width: 50px; height: 50px;transform: scale(0.8); }
.Spritestwitter { background-position: -2px -104px; width: 50px; height: 41px;transform: scale(0.8); }
.Sprites { -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */ filter: grayscale(100%);}
</style>
<footer class="text-center margin-top">
  <a class="Spriteslinkedin" href="https://linkedin.com/in/mansourmahbobi"></a>
  <a class="Spritesgithub" href="https://github.com/mmans0ur"></a>
  <a class="Spritestwitter" href="https://twitter.com/mans0urplus"></a>
</footer>
